[submodule "my_plugins/neuleetcode.vim"]
	path = my_plugins/neuleetcode.vim
	url = git@github.com:shownlin/neuleetcode.vim.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "my_plugins/vim-diffchanges"]
	path = my_plugins/vim-diffchanges
	url = git@github.com:jmcantrell/vim-diffchanges.git
[submodule "my_plugins/vim-numbertoggle"]
	path = my_plugins/vim-numbertoggle
	url = git@github.com:jeffkreeftmeijer/vim-numbertoggle.git
[submodule "my_plugins/autoload_cscope.vim"]
	path = my_plugins/autoload_cscope.vim
	url = git@github.com:shownlin/autoload_cscope.vim.git
[submodule "my_plugins/vim-rooter"]
	path = my_plugins/vim-rooter
	url = git@github.com:airblade/vim-rooter.git
